body {
  margin: 50px;
}
.radial-progress {
/*  @circle-size: 120px;
  @circle-background: #d6dadc;
  @circle-color: #97a71d;
  @transition-length: 1s;*/

  width:  120px;
  height: 120px;

  background-color: #d6dadc;
  border-radius: 50%;
  .circle {
    .mask, .fill {
      width:    120px;
      height:   120px;
      position: absolute;

      border-radius: 50%;

      -webkit-backface-visibility: hidden;
    }
    .mask {
      clip: rect(0px, 120px, 120px, 60px);
      .fill {
        clip: rect(0px, 60px, 120px, 0px);
        transition: -webkit-transform 1s;
        transition: -ms-transform 1s;
        transition: transform 1s;
        background-color: #97a71d;
      }
    }
  }
}