body:before {
  content: "";
  position: fixed;
  top: -5%;
  left: -5%;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  display: block;
  background: rgb(154, 177, 105);
  background-image: url('../img/bkgd/sunset_field_1920.jpg');
  background-size: cover;
  /* background-position: top center; */
  /* background-repeat: no-repeat; */
  width: 110%;
  height: 110%;

  filter: blur(12px) brightness(62.5%); 
}

body {
  overflow: auto;
  position: relative;
}
