@font-face {
    font-family: 'Calamity';
    src: url('../fonts/Calamity-Regular.woff2') format('woff2'),
        url('../fonts/Calamity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calamity';
    src: url('../fonts/Calamity-Bold.woff2') format('woff2'),
        url('../fonts/Calamity-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
