.App {
  text-align: center; }
  .App .App-header {
    background-color: #333;
    padding: 20px;
    color: white; }
    .App .App-header .App-logo {
      animation: App-logo-spin infinite 10s linear;
      height: 80px; }
    .App .App-header h1.App-title {
      font-size: 30px;
      margin: 10px 0; }
    .App .App-header h2.App-subtitle {
      font-weight: 400;
      font-size: 18px;
      margin: 8px 0; }
    .App .App-header .App-intro {
      font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
