@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 calc(3.25px * 1) rgba(255, 255, 255, 0.5), 0 0 calc(3.25px * 2) rgba(255, 255, 255, 0.5), 0 0 calc(3.25px * 3) rgba(255, 255, 255, 0.5), 0 0 calc(3.25px * 4) rgba(228, 215, 141, 0.5), 0 0 calc(3.25px * 7) rgba(228, 215, 141, 0.5), 0 0 calc(3.25px * 8) rgba(228, 215, 141, 0.5), 0 0 calc(3.25px * 10) rgba(228, 215, 141, 0.5), 0 0 calc(3.25px * 15) rgba(228, 215, 141, 0.5); }
  to {
    box-shadow: 0 0 calc(4px * 0.5) rgba(255, 255, 255, 0.5), 0 0 calc(4px * 1.0) rgba(255, 255, 255, 0.5), 0 0 calc(4px * 1.5) rgba(255, 255, 255, 0.5), 0 0 calc(4px * 2.0) rgba(228, 215, 141, 0.5), 0 0 calc(4px * 3.5) rgba(228, 215, 141, 0.5), 0 0 calc(4px * 4.0) rgba(228, 215, 141, 0.5), 0 0 calc(4px * 5.0) rgba(228, 215, 141, 0.5), 0 0 calc(4px * 7.5) rgba(228, 215, 141, 0.5); } }

@-webkit-keyframes neon-passive {
  from {
    box-shadow: 0 0 calc(2px * 1) rgba(255, 255, 255, 0.35), 0 0 calc(2px * 2) rgba(255, 255, 255, 0.35), 0 0 calc(2px * 3) rgba(255, 255, 255, 0.35), 0 0 calc(2px * 4) rgba(228, 215, 141, 0.35), 0 0 calc(2px * 7) rgba(228, 215, 141, 0.35), 0 0 calc(2px * 8) rgba(228, 215, 141, 0.35), 0 0 calc(2px * 10) rgba(228, 215, 141, 0.35), 0 0 calc(2px * 15) rgba(228, 215, 141, 0.35); }
  to {
    box-shadow: 0 0 calc(2.75px * 0.5) rgba(255, 255, 255, 0.35), 0 0 calc(2.75px * 1.0) rgba(255, 255, 255, 0.35), 0 0 calc(2.75px * 1.5) rgba(255, 255, 255, 0.35), 0 0 calc(2.75px * 2.0) rgba(228, 215, 141, 0.35), 0 0 calc(2.75px * 3.5) rgba(228, 215, 141, 0.35), 0 0 calc(2.75px * 4.0) rgba(228, 215, 141, 0.35), 0 0 calc(2.75px * 5.0) rgba(228, 215, 141, 0.35), 0 0 calc(2.75px * 7.5) rgba(228, 215, 141, 0.35); } }

.fancy-card-outer, .selected-fancy-card-outer {
  border: 2px solid rgba(5, 5, 5, 0.725);
  margin: 0;
  padding: 1px;
  border-radius: 3px;
  display: flex;
  height: 100%;
  position: relative; }
  .fancy-card-outer:hover, .selected-fancy-card-outer:hover {
    animation: neon1 1.275s ease-in-out infinite alternate; }

.fancy-card-inner, .selected-fancy-card-inner {
  background-color: rgba(5, 5, 5, 0.725);
  color: white;
  margin: 0;
  display: inline-block; }

.selected-fancy-card-outer {
  border-color: rgba(255, 252, 236, 0.725);
  animation: neon-passive 1.5s ease-in-out infinite alternate; }

.selected-fancy-card-inner {
  background-color: rgba(255, 252, 236, 0.725);
  color: black; }

.clickable-fancy-card {
  cursor: pointer; }
  .clickable-fancy-card:active {
    border-color: rgba(255, 255, 255, 0.725);
    transform: scale(1); }
    .clickable-fancy-card:active > div.fancy-card-inner, .clickable-fancy-card:active > div.selected-fancy-card-inner {
      background-color: rgba(255, 255, 255, 0.725); }
