// General
%inlineList {
  & > * { display: inline-block; padding: 0 5px; }
}


.pot {
  & > div { display: inline-block; padding: 0; min-width: 40%; max-width: 50%; }
}

.potIngred {
  width: 300px;

  & > div {
    display: inline-block;
    padding: 0 5px;
  }

  & > div:nth-child(2) { width: 83.333%; }
  & > div:nth-child(1) { width: 16.666%; }
}
