// General
.inlineList > * { display: inline-block; padding: 0 5px; }




.potIngred {
  width: 300px;

  & > div {
    display: inline-block;
    padding: 0 5px;
  }

  & > div:nth-child(2) { width: 80%; }
  & > div:nth-child(1) { width: 20%; }
}
