// https://medium.com/@andsens/radial-progress-indicator-using-css-a917b80c43f9


// Mixins

@mixin transition($transition-length) {
  transition: -webkit-transform $transition-length;
  transition: -ms-transform $transition-length;
  transition: transform $transition-length;
}



// Colors

.radial-progress {
  // $crc-background: #d6dadc;
  // $crc-color: #97a71d;
  $crc-background: rgb(38, 45, 42);
  $crc-color: rgb(16, 239, 90);

  background-color: $crc-background;
  .circle {
    .mask .fill {
      background-color: $crc-color;
    }
  } 
}


// Size & shape

$crc-size: 120px;

.radial-progress {
  width: $crc-size;
  height: $crc-size;
  border-radius: 50%;
  .circle {
    .mask, .fill {
      width: $crc-size;
      height: $crc-size;
      position: absolute;

      border-radius: 50%;
    }
  } 
}

// Transition/Animation

.radial-progress {
  $transition-length: 1s;

  .circle .mask .fill {
    @include transition($transition-length);
  }
}

// Show only the left half of the circle

.radial-progress {
  .circle {
    .mask {
      clip: rect(0px, $crc-size, $crc-size, $crc-size/2);

      .fill {
        /* rect(<top>, <right>, <bottom>, <left>) */
        clip: rect(0px, $crc-size/2, $crc-size, 0px);
      }
    }
   

     
  }



  
}

// Gets rid of jagged edges upon rotating elements in Chrome

.radial-progress {
  .circle .mask, .fill {
    -webkit-backface-visibility: hidden;
  }
}