// Default react colors

// $default-nav-color: #222; // React's default
$default-nav-color: #333; 

// $general-text-color: #333; // React's default
$general-text-color: #333;

$selection-color: #bbb;

$bkgd-color: rgb(10, 10, 10);
$bkgd: rgba($bkgd-color, 0.7475);
