// —————————————————————————————————————
// Colors
// —————————————————————————————————————

@import 'colors';

// —————————————————————————————————————
// Outer
// —————————————————————————————————————

.container {
  max-width: 1000px;
  margin: 10px auto;
  min-height: 80vh;
}

// —————————————————————————————————————
// Main
// —————————————————————————————————————

.App {
  text-align: center; 

  .App-header {
    background-color: $bkgd;
    border-bottom: 2px double $bkgd;
    // height: 150px;
    padding: 20px;
    color: white;

    .App-logo {
      animation: App-logo-spin infinite 10s linear;
      height: 80px;
    }

    h1.App-title {
      font-size: 30px;
      margin: 10px 0;

    }
    h2.App-subtitle {
      font-weight: 400;
      font-size: 18px;
      margin: 8px 0;
    }

    .App-intro {
      font-size: large;
    }

  }
}

// Animations
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// —————————————————————————————————————
// Footer
// —————————————————————————————————————

.footer {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 10px;

  background: $bkgd;
  color: white;
  line-height: 1.375;

  div {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }

  div.footer-icon {
    font-size: 40px;
    color: white;
    transition: color 1s;

    :hover {
      color: $text-pop-color;
    }
    :active {
      color: $text-pop-darker-color;
    }
  }
}