@import 'colors';
@import 'animation';

$font-stack: 'Calamity', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";



.fancy-card-outer {
  // border: 3px double black;
  border: 2px solid $bkgd;
  margin: 0;
  padding: 1px;
  border-radius: 3px;
  // background-color: yellow;
  display: flex;
  // display: inline-block;
  height: 100%;

  &:hover {
    // background-color: blue;
    animation: neon1 1.275s ease-in-out infinite alternate;
  }
}

.fancy-card-inner {
  background-color: $bkgd;

  color: white;
  margin: 0;

  display: inline-block;
}