.small-counter-corner {
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.small-counter-outer {
  color: yellow;
  // width: 30px;
  // height: 25px;

  display: inline-block;

}

.small-counter {
  display: flex;
  align-content: center;
  justify-content: center;

  padding: 5px;

  font-size: 17px;
}

.small-corner-x-outer {
  font-weight: 800;
  // padding: 5px;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;

  // width: 24px;
  // height: 24px;
  display: inline-block;

  z-index: 3;
}

.small-corner-x {
  padding: 0px 6px;
  line-height: 1;
  padding-bottom: 4px;
}

// .small-counter {
//   width: 30px;
//   height: 30px;
// }